<div class="row" style="margin-top: 20px;">
    <button class="btn btn-lg btn-info" style="margin-right: 10px;" [class.active]= "filterBy === 'all'" (click) = "filterBy = 'all'">All</button>
    <button class="btn btn-lg btn-info" style="margin-right: 10px;" [class.active]= "filterBy === 'ferrari'" (click) = "filterBy = 'ferrari'">Ferrari</button>
    <button class="btn btn-lg btn-info" style="margin-right: 10px;" [class.active]= "filterBy === 'boxing'" (click) = "filterBy = 'boxing'">Boxing</button>
    <button class="btn btn-lg btn-info" style="margin-right: 10px;" [class.active]= "filterBy === 'coding'" (click) = "filterBy = 'coding'">Coding</button>
    <button class="btn btn-lg btn-info" style="margin-right: 10px;" [class.active]= "filterBy === 'swimming'" (click) = "filterBy = 'swimming'">Swimming</button>
    <ul id="thumbnailsList">
        <li *ngFor = "let image of (visibleImages | filter:filterBy)">
            <a [routerLink] = "['/image', image.id]">
                <img src="{{image.url}}" class="tn" width="250" height="250" alt="img">
            </a>
        </li>
    </ul>
</div>
